<h2>My heroes</h2>
<br>
<div>
    <label>Hero name:
        <input #heroName/>
    </label>
    <button (click)="add(heroName.value); heroName.value=''">
        add
    </button>
</div>
<br>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.name}}</span>
        </a>
        <button class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
    </li>
</ul>

<div>
    Pick your favorite hero
    (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
  </div>
  <select [(ngModel)]="hero">
    <ng-container *ngFor="let h of heroes">
      <ng-container *ngIf="showSad || h.emotion !== 'sad'">
        <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
      </ng-container>
    </ng-container>
  </select>
  <div *ngIf=(hero)>
      {{hero.name}} is {{hero.emotion}}
  </div>